h1{
  font-size: 4rem;
  padding-bottom:50px;
  color: #0d6efd;
}

span{
  color:#0d6efd;
}


footer{
  margin-top: 50px;
  text-align: center;
}

#googleMap{
  width:100%;
  height:620px;
}

.container{
  margin-bottom: 50px;
}

.endPoint{
  margin-bottom: 50px;
}
